@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Colores */
  --color-body: #111b21;
  --color-container: #202c33;
  --color-primario: #25d366;
  --color-primario-alt: #05b186;
  --color-secundario: #202c33;
  --color-secundario-alt: #2a3942;
  --color-tildes: #54bdeb;
  --color-title: #ffffff;
  --color-subtitle: #4e4e4e;
  --color-text: #797979;
  --color-icons: #afafaf;

  /* Tamaño y Peso */
  --fs-smaller: 0.83rem;
  --fs-small: 0.9rem;
  --fs-normal: 0.95rem;
  --fs-big: 1.2rem;
  --fs-bigger: 1.35rem;

  --fw-lighter: 300;
  --fw-light: 400;
  --fw-regular: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --header-width: 3.5rem;
}
/* Clases reutilizables */
.section {
  padding-block: 1rem;
}
.section-title {
  color: #d1d1d1;
  font-size: 1.9rem;
  font-weight: var(--fw-lighter);
}
.section-subtitle {
  text-align: center;
  width: 80%;
  color: #7e8c97;
  font-size: var(--fs-small);
}
.container {
  padding-inline: 1rem;
}
.grid {
  display: grid;
}
.btn1 {
  display: grid;
  place-content: center;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-icons);
  font-size: var(--fs-big);
  width: 35px;
  height: 35px;
}
.btn1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.btn-clicked {
  background-color: #202c33;
  border-radius: 50%;
}
.read-color {
  color: var(--color-text);
}
.unread-color {
  color: #fff;
}
ul {
  list-style: none;
}
input,
textarea,
button {
  outline: none;
  border: none;
}
button {
  background-color: transparent;
}
body {
  background-color: var(--color-body);
}
main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "section-chat-card section-chat section-chat";
  height: 100vh;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-container);
  height: 100vh;
  width: var(--header-width);
  z-index: 2;
}
nav {
  width: var(--header-width);
  height: 100%;
}
.nav-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}
.nav-list .img-icon {
  width: 22px;
}
.nav-list hr {
  border: none;
  height: 2px;
  background-color: var(--color-text);
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-item,
.nav-list li {
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--color-icons);
  cursor: pointer;
  font-size: 22px;
}
.perfil-img {
  border-radius: 50%;
  object-fit: cover;
  height: 35px;
  width: 35px;
}
.tooltip {
  position: absolute;
  top: 6px;
  left: 3.1rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  color: #000;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: var(--fs-smaller);
  padding: 4px 12px;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
}
li:hover .tooltip {
  width: auto;
  height: auto;
  opacity: 1;
}
/* MENU CONFIG */
.section-chat-card {
  position: relative;
  border-right: 1px solid var(--color-subtitle);
  grid-area: section-chat-card;
  grid-template-columns: 1fr;
  margin-left: var(--header-width);
  height: 100%;
}
.config-container {
  background-color: var(--color-body);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--color-title);
  padding-block: 0.5rem;
  z-index: 1;
  transition: left 0.2s;
}
.show-config {
  left: 0;
}
.box-title-search {
  display: grid;
  grid-template-columns: 1fr;
}
.content-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-imagen-de-perfil {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.box-imagen-de-perfil img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.box-imagen-de-perfil h4,
.box-imagen-de-perfil h5 {
  font-weight: var(--fw-light);
}
.content-info ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
}
.content-info ul li {
  border-bottom: 1px solid var(--color-subtitle);
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.content-info ul li:hover {
  background-color: #202c33;
}
.content-info ul li i {
  color: var(--color-icons);
  font-size: var(--fs-bigger);
  padding-inline: 1rem;
}
.content-info .red-icon {
  color: #c15261;
}
.content-info ul li span {
  width: 100%;
}
/* section-chat-card */

.content-title-filter {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}
.menu-options {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  background-color: var(--color-container);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s;
}
.menu-show {
  opacity: 1;
  height: 12rem;
  width: 17rem;
  transition: all 0.2s;
}
.menu-options ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 0.5rem;
}
.menu-options li {
  color: var(--color-icons);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: var(--fs-normal);
}
.menu-options hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--color-subtitle);
}

.menu-options li:hover {
  background-color: var(--color-body);
}
.box-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-filter {
  width: 100%;
  padding-left: 1rem;
}
.form-filter label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-filter .lupa {
  position: absolute;
  top: 6px;
  left: 1rem;
  width: 18px;
  object-fit: contain;
}
.form-filter input {
  width: 100%;
  background-color: var(--color-secundario-alt);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-size: var(--fs-normal);
  padding: 8px 1rem 8px 4.5rem; /* acomodar */
}
.filter-btn {
  background-color: transparent;
  cursor: pointer;
  margin-inline: 0.5rem;
}
.filter-btn img {
  width: 30px;
  object-fit: contain;
}
/* chat-cards */
.section-chat-card {
  height: 100vh;
}
.content-chat-card {
  margin-top: 1rem;
}
.chat-card {
  position: relative;
  height: 4.5rem;
  display: flex;
  align-items: center;
  color: var(--color-text);
  column-gap: 1rem;
  cursor: pointer;
}
.chat-card:hover {
  background-color: #202c33;
}
.menu-options2 {
  background-color: var(--color-container);
  position: absolute;
  top: 4rem;
  left: 23rem;
  width: 0;
  height: 0;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.menu-options2 ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 1rem;
}
.menu-options2 li {
  width: 100%;
  color: var(--color-icons);
  padding: 0.5rem 1rem;
}
.menu-options2 li:hover {
  background-color: var(--color-body);
}
.show-menu2 {
  width: 14rem;
  height: 16rem;
  transition: all 0.2s;
}
.img-perfil-card {
  border-radius: 50%;
  object-fit: cover;
  height: 55px;
  width: 55px;
}
.chat-body {
  position: relative;
  border-bottom: 1px solid var(--color-subtitle);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-name {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 15rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-name h3 {
  font-weight: var(--fw-regular);
}
.chat-name p {
  font-size: var(--fs-smaller);
  font-weight: var(--fw-regular);
}
.chat-name p i {
  color: var(--color-tildes);
  margin-right: 0.2rem;
}
.chat-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-wrap: nowrap;
  row-gap: 0.3rem;
  color: var(--color-primario-alt);
  font-size: var(--fs-smaller);
}
.box-notification {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  overflow: hidden;
}
.notification {
  display: grid;
  place-content: center;
  width: 22px;
  height: 22px;
  background-color: var(--color-primario-alt);
  border-radius: 50%;
  color: #000;
}
.chevron {
  opacity: 0;
  position: absolute;
  right: -100%;
}
.chevron i {
  color: var(--color-icons);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
}
.chat-card:hover .chevron {
  opacity: 1;
  position: relative;
  right: 0;
  transition: all 0.1s;
}
/* section-chat */
.section-chat {
  display: block;
  height: 100vh;
  grid-area: section-chat;
  background-color: var(--color-container);
  height: 100%;
}
.container-chat {
  position: relative;
  height: 100%;
  place-content: center;
}
.content-chat {
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.content-chat img {
  width: 320px;
}
.lock-span {
  position: absolute;
  bottom: 1rem;
  color: #637f94;
  font-size: var(--fs-smaller);
}
.lock-span i {
  font-size: 0.5rem;
}
.btn-download-store {
  background-color: #05b186;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: var(--fs-normal);
  font-weight: var(--fw-light);
  padding: 10px 22px;
  margin: 1rem 0;
  transition: background-color 0.2s;
}
.btn-download-store:hover {
  background-color: hsl(165, 95%, 40%);
  transition: all 0.2s;
}
/* Section chat open */
.section-chat-open {
  display: none;
  grid-area: section-chat;
  grid-template-columns: 1fr;
}
.container-chat-open {
  background: url('/assets/backgrounImage-whatsapp.jpg') center / contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header-chat {
  background-color: var(--color-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.contact-info {
  display: flex;
  gap: 1rem;
}
.contact-img {
  width: 40px;
  height: 40px;
}
.contact-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-name h4 {
  font-weight: var(--fw-regular);
  color: var(--color-title);
}
.contact-name span {
  color: var(--color-text);
  font-size: var(--fs-small);
}
.box-buttons-contact {
  display: flex;
  align-items: center;
  color: var(--color-icons);
  font-size: var(--fs-big);
  gap: 1rem;
}
.search-contact {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.box-buttons-contact i {
  padding: .5rem 1rem;
  cursor: pointer;
}
.btn-cam {
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  color: var(--color-text);
  padding: .5rem;
}
.btn-cam i {
  margin: 0 .2rem;
  padding: 0;
}
.normal-fs {
  font-size: var(--fs-normal);
}
.litle {
  font-size: var(--fs-smaller);
}
.body-chat {
  height: 100%;
  position: relative;
}
.msg-bubble {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  background-color: var(--color-secundario-alt);
  border-radius: .4rem;
  font-size: var(--fs-small);
  color: var(--color-title);
  padding: .4rem .6rem;
}
.msg-bubble span{
  align-self: flex-end;
  font-size: .7rem;
}
.footer-chat {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secundario);
  padding: .5rem 1rem;
}
.footer-chat button {
  background-color: transparent;
  color: var(--color-icons);
  cursor: pointer;
  font-size: var(--fs-bigger);
  margin-inline: .5rem;
  padding: .5rem;
}
.form-footer {
  width: 100%;
  display: flex;
  align-items: center;
}
.form-footer label {
  position: relative;
  width: 100%;
}
.form-footer label i {
  position: absolute;
  top: .7rem;
  left: 1rem;
  font-size: var(--fs-bigger);
  color: var(--color-icons);
  cursor: pointer;
}
.form-footer input {
  background-color: var(--color-secundario-alt);
  border-radius: .4rem;
  color: var(--color-title);
  font-size: var(--fs-normal);
  padding: .8rem 1rem .8rem 3rem;
  width: 100%;
}
.show {
  display: block;
}
.hidden {
  display: none;
}