@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Colores */
  --color-body: #111b21;
  --color-container: #202c33;
  --color-primario: #25d366;
  --color-primario-alt: #06cf9c;
  --color-secundario: #202c33;
  --color-secundario-alt: #2a3942;
  --color-tildes: #54bdeb;
  --color-title: #ffffff;
  --color-subtitle: #4e4e4e;
  --color-text: #797979;
  --color-icons: #afafaf;

  /* Tamaño y Peso */
  --fs-smaller: 0.83rem;
  --fs-small: 0.9rem;
  --fs-normal: 0.95rem;
  --fs-big: 1.2rem;
  --fs-bigger: 1.35rem;

  --fw-light: 300;
  --fw-regular: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --header-width: 3.5rem;
}
/* Clases reutilizables */
.section {
  padding-block: 1rem;
}
.section-title {
  color: #d1d1d1;
  font-size: 1.9rem;
  font-weight: var(--fw-light);
}
.section-subtitle {
  text-align: center;
  width: 80%;
  color: #7e8c97;
  font-size: var(--fs-small);
}
.container {
  padding-inline: 1rem;
}
.grid {
  display: grid;
}
.btn1 {
  background-color: transparent;
  cursor: pointer;
  color: var(--color-icons);
  font-size: var(--fs-big);
  width: 25px;
  height: 25px;
}
.btn1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
ul {
  list-style: none;
}
input,
textarea,
button {
  outline: none;
  border: none;
}
body {
  background-color: var(--color-body);
}
main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "section-chat-card section-chat section-chat";
  height: 100vh;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-container);
  height: 100vh;
  width: var(--header-width);
  z-index: 1;
}
nav {
  width: var(--header-width);
  height: 100%;
}
.nav-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}
.nav-list .img-icon {
  width: 22px;
}
.nav-list hr {
  border: none;
  height: 2px;
  background-color: var(--color-text);
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-item,
li {
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--color-icons);
  cursor: pointer;
  font-size: 22px;
}
.perfil-img {
  border-radius: 50%;
  object-fit: cover;
  height: 35px;
  width: 35px;
}
.tooltip {
  position: absolute;
  top: 6px;
  left: 3.1rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  color: #000;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: var(--fs-smaller);
  padding: 4px 12px;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
}
li:hover .tooltip {
  width: auto;
  height: auto;
  opacity: 1;
}
/* section-chat-card */
.section-chat-card {
  grid-area: section-chat-card;
  grid-template-columns: 1fr;
  margin-left: var(--header-width);
  height: 100%;
}
.content-title-filter {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}
.box-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-filter {
  width: 100%;
  padding-left: 1rem;
}
.form-filter label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-filter .lupa {
  position: absolute;
  top: 6px;
  left: 1rem;
  width: 18px;
  object-fit: contain;
}
.form-filter input {
  width: 100%;
  background-color: var(--color-secundario-alt);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-size: var(--fs-normal);
  padding: 8px 2.2rem; /* acomodar */
}
.filter-btn {
  background-color: transparent;
  cursor: pointer;
  margin-inline: 0.5rem;
}
.filter-btn img {
  width: 30px;
  object-fit: contain;
}
/* chat-cards */
.content-chat-card {
  margin-top: 1rem;
}
.chat-card {
  height: 4.5rem;
  display: flex;
  align-items: center;
  color: var(--color-text);
  column-gap: 1rem;
  cursor: pointer;
}
.chat-card:hover {
  background-color: #202C33;
}
.img-perfil-card {
  border-radius: 50%;
  object-fit: cover;
  height: 55px;
  width: 55px;
}
.chat-body {
  border-bottom: 1px solid var(--color-subtitle);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-name {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 15rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-name p {
  font-size: var(--fs-small);
  font-weight: var(--fw-semibold);
}
.chat-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-wrap: nowrap;
  row-gap: 0.3rem;
  color: var(--color-primario-alt);
  font-size: var(--fs-smaller);
}
.box-notification {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
}
.notification {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-primario-alt);
  border-radius: 50%;
  color: #000;
}
.chevron {
  opacity: 0;
  position: absolute;
  right: -100%;
}
.chevron i {
  color: var(--color-icons);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-normal);
}
.chat-card:hover .chevron {
  opacity: 1;
  position: relative;
  right: 0;
  transition: all .1s;
}
/* section-chat */
.section-chat {
  height: 100vh;
  grid-area: section-chat;
  background-color: var(--color-container);
  height: 100%;
}
.container-chat {
  position: relative;
  height: 100%;
  place-content: center;
}
.content-chat {
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.content-chat img {
  width: 320px;
}
.lock-span {
  position: absolute;
  bottom: 1rem;
  color: #637f94;
  font-size: var(--fs-smaller);
}
.lock-span i {
  font-size: .5rem;
}
.btn-download-store {
  background-color: #05b186;
  border-radius: 1.2rem;
  font-weight: var(--fw-regular);
  padding: 10px 20px;
  margin: 1rem 0;
}